In [1]:
from src.regex import define_tech_terms, add_regex_pattern, grouped_pattern
import pandas as pd
import re

In [2]:
df = pd.read_csv('../data/raw/news/gdelt_gkg_2023-08-01_2023-09-01.csv.gz')

In [3]:
tech_terms = define_tech_terms()

In [4]:
add_regex_pattern(tech_terms)

In [5]:
pat = grouped_pattern(tech_terms)

In [33]:
for tech in tech_terms:
    tech['contains'] = df['Extras'].str.contains(tech['regex'], na=False)

In [38]:
len([x for x in tech_terms[0]['contains'] if x is not False])

2335

In [39]:
out = df['Extras'].str.extract(pat)

In [40]:
out.dropna(how='all')

               0              1                2                 3    4
930          NaN            NaN  Cultivated Meat               NaN  NaN
1036     Quantum            NaN              NaN               NaN  NaN
3817     quantum            NaN              NaN               NaN  NaN
5193         NaN      microchip              NaN               NaN  NaN
5504         NaN  semiconductor              NaN               NaN  NaN
...          ...            ...              ...               ...  ...
4751394      NaN            NaN              NaN  hydrogen storage  NaN
4751470  quantum            NaN              NaN               NaN  NaN
4752146      NaN      microchip              NaN               NaN  NaN
4753170  quantum            NaN              NaN               NaN  NaN
4753637      NaN      microchip              NaN               NaN  NaN

[8314 rows x 5 columns]

In [10]:
type(tech['regex'])

re.Pattern

In [13]:
for tech in tech_terms:
    tech['search'] = [re.search(tech['regex'], str(text)) for text in df[''].to_list()]

In [30]:
len([x for x in tech_terms[4]['search'] if x is not None])

117